<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Pedido creado con éxito</title>
		
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<h1>Su Pedido #<span th:text="${pedido.numero}">123</span> ha sido creado con éxito</h1>
			
			<a href="/pedidos/nuevo" class="btn btn-primary btn-lg">Crear otro Pedido</a>
		</div>
	</body>
</html>