<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Crear un nuevo Pedido de "Lo que sea"</title>
		
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		<form class="container" action="#" th:action="@{/pedidos/nuevo}" th:object="${pedido}" method="post">
			<h1>Crear un Pedido de "Lo que sea"</h1>
			
			<div class="row">
				<div class="col-12">
					<h2>Datos del Usuario</h2>
					<p>Usuario: <strong th:text="${pedido.usuario}"></strong> Ciudad: <strong th:text="${pedido.usuario.ciudad}"></strong></p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6">
					<h3>Origen y Destino</h3>

					<h4>Origen</h4>
					<div class="row">
						<div class="col-12 col-md-6">
							<input type="text" class="form-control" placeholder="Calle de Origen" th:field="*{calleOrigen}" th:errorclass="is-invalid" required>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('calleOrigen')}" th:errors="*{calleOrigen}"></div>
						</div>
						<div class="col-4 col-md-2">
							<input type="text" class="form-control" placeholder="Nro." th:field="*{numeroCalleOrigen}" th:errorclass="is-invalid">
							<div class="invalid-feedback" th:if="${#fields.hasErrors('numeroCalleOrigen')}" th:errors="*{numeroCalleOrigen}"></div>
						</div>
						<div class="col-4 col-md-2">
							<input type="text" class="form-control" placeholder="Piso" th:field="*{pisoOrigen}" th:errorclass="is-invalid">
							<div class="invalid-feedback" th:if="${#fields.hasErrors('pisoOrigen')}" th:errors="*{pisoOrigen}"></div>
						</div>
						<div class="col-4 col-md-2">
							<input type="text" class="form-control" placeholder="Depto" th:field="*{departamentoOrigen}" th:errorclass="is-invalid">
							<div class="invalid-feedback" th:if="${#fields.hasErrors('departamentoOrigen')}" th:errors="*{departamentoOrigen}"></div>
						</div>
					</div>
					
					<h4>Destino</h4>
					<div class="row">
						<div class="col-12 col-md-6">
							<input type="text" class="form-control" placeholder="Calle de Destino" th:field="*{calleDestino}" th:errorclass="is-invalid" required>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('calleDestino')}" th:errors="*{calleDestino}"></div>
						</div>
						<div class="col-4 col-md-2">
							<input type="text" class="form-control" placeholder="Nro." th:field="*{numeroCalleDestino}" th:errorclass="is-invalid">
							<div class="invalid-feedback" th:if="${#fields.hasErrors('numeroCalleDestino')}" th:errors="*{numeroCalleDestino}"></div>
						</div>
						<div class="col-4 col-md-2">
							<input type="text" class="form-control" placeholder="Piso" th:field="*{pisoDestino}" th:errorclass="is-invalid">
							<div class="invalid-feedback" th:if="${#fields.hasErrors('pisoDestino')}" th:errors="*{pisoDestino}"></div>
						</div>
						<div class="col-4 col-md-2">
							<input type="text" class="form-control" placeholder="Depto" th:field="*{departamentoDestino}" th:errorclass="is-invalid">
							<div class="invalid-feedback" th:if="${#fields.hasErrors('departamentoDestino')}" th:errors="*{departamentoDestino}"></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-12">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="1" th:field="*{idaYVuelta}">
							<label class="form-check-label" for="defaultCheck1"> ¿Es Ida y Vuelta?</label>
						</div>
					</div>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<h3>Detalle de tu Pedido</h3>
					
					<div class="row">
						<div class="col-12">
							<p>¿Qué quieres enviar/buscar?</p>
							<textarea class="form-control" th:field="*{detalle}" th:errorclass="is-invalid" required></textarea>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('detalle')}" th:errors="*{detalle}"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-4 text-right">
							<label for="precioServicio">TOTAL estimado:</label>
						</div>
						<div class="col-8 col-md-3">
							<div class="form-group">
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text">$</div>
									</div>
									<input type="number" class="form-control" th:field="*{precioServicio}" min="0" step="0.01" th:errorclass="is-invalid" onchange="calcularVuelto()" required>
									<div class="invalid-feedback" th:if="${#fields.hasErrors('precioServicio')}" th:errors="*{precioServicio}"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-5 text-right text-md-left">
							<p>+ $<span th:text="${montoComision}" id="comision"></span> por comisión</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-12 col-md-4">
					<label for="inputEmail4">Forma de Pago</label>
					<select class="form-control" th:field="*{formaDePago}" th:errorclass="is-invalid">
						<option th:each="fp : ${formasDePago}" th:value="${fp.id}" th:text="${fp}"></option>
					</select>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('formaDePago')}" th:errors="*{formaDePago}"></div>
				</div>
				<div class="form-group col-12 col-md-4">
					<label for="inputEmail4">Pago con:</label>
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">$</div>
						</div>
						<input type="text" class="form-control" th:field="*{montoEntregado}" min="0" step="0.01" th:errorclass="is-invalid" onchange="calcularVuelto()" required>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('montoEntregado')}" th:errors="*{montoEntregado}"></div>
					</div>
				</div>
				<div class="form-group col-12 col-md-4">
					<p>Vuelto: $<strong th:text="${pedido.vuelto}" id="vuelto"></strong></p>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<button type="button" class="btn btn-secondary btn-lg">Cancelar</button>
				</div>
				<div class="col-6 text-right">
					<button type="submit" class="btn btn-primary btn-lg">Enviar</button>
				</div>
			</div>
		</form>
		
		<script src="/jquery/jquery-3.3.1.slim.min.js"></script>
		<script>
			
			function calcularVuelto() {
				let vuelto = '';
				
				// obtenemos el precio del servicio
				let precioServicio = parseFloat($('#precioServicio').val());
				console.log(precioServicio);
				
				// obtenemos el monto a abonar
				let montoEntregado = parseFloat($('#montoEntregado').val());
				
				// obtenemos el monto de comision
				let comision = parseFloat($('#comision').html());
				
				if (precioServicio >= 0 && montoEntregado >= 0) {
					let totalPedido = precioServicio + comision;
					
					if (montoEntregado < totalPedido) {
						alert('El monto entregado debe ser mayor o igual al total del pedido');
					}
					else {
						vuelto = montoEntregado - totalPedido;
					}
				}
				
				$('#vuelto').html(vuelto);
			}
		</script>
	</body>
</html>